
@{
    ViewBag.Title = "Followers";
    Layout = "~/Views/Shared/Home.cshtml";
}

<div id="Creation_app">
    <!--Creation记录开始-->
    <link href="~/Content/css/Creation_Global.css" rel="stylesheet" />
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>粉丝数据</legend>
    </fieldset>



    <!--Creation记录结束-->
</div>
@Html.Partial("Creation_menu")

