
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/Home.cshtml";
}

<div id="Activity_app">
    <!--Creation记录开始-->

    <div>
        跳转成功！
    </div>

   



    <!--Creation记录结束-->
</div>
@Html.Partial("Activity_menu")

