
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/Home.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    a {
        text-decoration: none;
        color: #CFCFCF;
    }
</style>

@*<img src="~/img/logo.png" />*@
<p class="tip"></p>
<div class="cont">
    <div class="form sign-in">
        <h2>欢迎回来</h2>
        <label>
            <span>手机号</span>
            <input type="text" id="dlsjh"/>
        </label>
        <label>
            <span>
                验证码
            </span>
            <input type="text" id="dlyzm" />

        </label>
        
        <p class="forgot-pass">
            <a href="../Home/Login" style="margin-right:20px;">账号密码登录</a>
            <a href="#" id="dlh1yzm" style="margin-left:20px;">获取验证码</a>
        </p>
        <button type="button" class="submit" id="dl">登录</button>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>新来的？</h2>
                <p>注册并发现更多朋友吧</p>
            </div>
            <div class="img__text m--in">
                <h2>登录?</h2>
                <p>如果您已经有帐户，只需登录即可！</p>
            </div>
            <div class="img__btn">
                <span class="m--up">注册</span>
                <span class="m--in">登录</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>欢迎注册</h2>
            <label>
                <span>名称</span>
                <input type="text" id="mc"/>
            </label>
            <label>
                <span>手机号</span>
                <input type="text" id="zcsjh"/>
            </label>
            <label>
                <span>验证码</span>
                <input type="text" id="zcyzm"/>
                <a href="#" id="zchqyzm">获取验证码</a>
            </label>
            <button type="button" class="submit" id="zc">注册</button>
        </div>
    </div>
</div>
<style>
    		@*@import /*url("https://fonts.googleapis.com/css?family=Open+Sans");*/*@
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

    body {
        /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
        background: #f8f9fa;
    }

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1604941138781-78fbefc0d888?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1817&q=80");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}
</style>
<script>
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
    var dlyzm = "";
    var a = document.getElementById("dlh1yzm");
   
    a.addEventListener("click", function () {
        var sjhj = document.getElementById("dlsjh").value;
        if (sjhj != "") {
            var count = 60; // 倒计时时间，单位为秒
            var interval = setInterval(function () {
                count--;
                if (count < 0) {
                    a.innerText = "获取验证码";
                    a.removeAttribute("disabled");
                    clearInterval(interval);
                } else {
                    a.innerText = count + "s后重新发送";
                    a.setAttribute("disabled", "disabled");
                }
            }, 1000);
            var inputValue = document.getElementById("dlsjh").value;
            $.ajax({
                type: "Get",
                url: "/Api/ApiDLY",
                data: {
                    zcsjh: inputValue
                },
                success: function (res) {
                    dlyzm = res;

                }

            });
        } else {
            alert("不能有手机号不能为空");
        }
        
    });


    var dl = document.getElementById("dl");
    dl.addEventListener("click", function () {
        var yzm = document.getElementById("dlyzm").value;
        if (yzm != dlyzm) {
            alert("验证码输入有误，请重新输入");
            //yzm.value = "";
        } else {
            var inputValue = document.getElementById("dlsjh").value;
            $.ajax({
                type: "Get",
                url: "/api/ApiLogin/",
                data: {
                    zcsjh: inputValue
                },
                success: function (res) {
                    if (res) {
                        location.href = "../Home/Blogger";
                    } else {
                        alert("该账号还未注册请注册！");
                    }

                }

            });
        } 
    });



    var zcyzm = "";
    var captchaBtn = document.getElementById("zchqyzm");
    
    captchaBtn.addEventListener("click", function () {
        var ac = document.getElementById("mc").value;
        var acs = document.getElementById("zcsjh").value;
        if (ac != "" ) {
            var count = 60; // 倒计时时间，单位为秒
            var interval = setInterval(function () {
                count--;
                if (count < 0) {
                    captchaBtn.innerText = "获取验证码";
                    captchaBtn.removeAttribute("disabled");
                    clearInterval(interval);
                } else {
                    captchaBtn.innerText = count + "s后重新发送";
                    captchaBtn.setAttribute("disabled", "disabled");
                }
            }, 1000);
            var inputValue = document.getElementById("zcsjh").value;
            $.ajax({
                type: "Get",
                url: "/Api/ApiZCY",
                data: {
                    zcsjh: inputValue
                },
                success: function (res) {
                    zcyzm = res;
                }

            });
        } else {
            alert("名称和手机号不能为空!");
        }
        

    });

    var dl = document.getElementById("zc");
    dl.addEventListener("click", function () {
        var yzm = document.getElementById("dlyzm").value;
        if (yzm != dlyzm) {
            alert("验证码输入有误，请重新输入");
            //yzm.value = "";
        } else {
            var Name = document.getElementById("mc").value;
            var inputValue = document.getElementById("zcsjh").value;
            $.ajax({
                type: "Post",
                url: "/Api/ApiZCY",
                data: {
                    UserName:Name,
                    UserPhone: inputValue
                },
                success: function (res) {
                    if (res.length > 0) {
                        alert("注册成功");
                    } else {
                        alert("该账号已经注册");
                    }

                }

            });
        }
    });
</script>